# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Env variables
.env
.env.local

# Services
services.config.yml

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Config
config
_appConfig.yaml
#appConfig_lei.yaml
appConfig_edx.yaml

# Temp
temp

# Data
Data

# Gemini
gemini.jsx
geminiPrompt.text



